<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" viewport-fit="cover"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>web scrapper></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">

    <link rel="stylesheet" href="<%= host %>/css/style.css">

	<%- style %>

    <script>
      var _HOST_ = '<%= host %>';
    </script>

</head>

<body>



  <main id="main">
    
    <%- body %>

  </main>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.min.js"></script>


  
<%- script %>







</body>
</html>